<div class="wow fadeIn" data-wow-duration="2000" >
<section class="top-section">
	<div class="container">
		<div class="row">
			<div class="title mb50 wow fadeInUp">
				<h2 class="text-center"><b class="theme_color">Find your next career</b></h2>
			</div>
		</div>
	</div>
</section>

<section class="section-info pt30 pb30" style="background-color: #f7f7f7;">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 mb20">
				<img src="assets/images/icons/icon-world.png" alt="" class="img-left-paragraph type-2 wow fadeIn" data-wow-duration="1300"/>
				<h3 class="wow fadeInRight" data-wow-delay="0.2s"><b>Sales and Account Management</b></h3>
				<p class="wow fadeInRight" data-wow-delay="0.2s">
					Bringing new clients, professionals and partners on board, helping them digitalise their businesses and ensuring that they get the most out of our relationship is a critical and rewarding part of this role. Our Sales Teams comprises of inside and outside sales working hand in hand to educate and shift an industry online. Once onboard our customers are carefully handed over to the Account Management Team who maintains, nurtures and grows each relationship, and in turn helps grow the beauty businesses themselves. Relationship building and the ability to understand and respond to the customer needs and aspirations are vital in this role.
				</p>
				<p class="wow fadeInRight" data-wow-delay="0.2s"><b>Positions</b></p>
				<ul class="l-bullets-4 wow fadeInRight" data-wow-delay="0.2s">
					<li><p class="mb0">Account Management <br />Internship</p></li>
					<li><p class="mb0">Business Developer <br />Internship</p></li>
					<li><p class="mb0">Outside Sales <br />Internship</p></li>
				</ul>
			</div>
		</div>
		<div class="row wow fadeInRight" data-wow-delay="0.2s">
			<div class="col-sm-12 text-center">
				<a [routerLink]="['/applying-for-position']" class="btn theme_btn size-big brd button-target">Apply</a>
			</div>
		</div>
	</div>
</section>

<section class="sequence-3 bg-careers">
    <div class="no-overlay wow fadeInDown" style="background-image:url(assets/images/model-careers.jpg);background-position: center center;height: 359px;" role="img" aria-label="">
    </div>
</section>

<section class="section-info pt30 pb30">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 mb20">
				<img src="assets/images/icons/icon-microphone.png" class="img-left-paragraph wow fadeIn" data-wow-duration="1300" style="margin-bottom:566px;" />
				<h3 class="wow fadeInRight" data-wow-delay="0.2s"><b>Marketing </b></h3>
				<p class="wow fadeInRight" data-wow-delay="0.2s">
					Using our brand’s creativity and integrated channels, our Marketing Team drives a constant stream of happy and satisfied customers and partners to SalonHome, in the most efficient way possible. Dedicated to our vision of helping businesses grow by delivering the perfect beauty experience, this team is our eyes, ears and voice, engaging and inspiring beauty customers across many states. Our team is made up of Performance Marketing, Brand, Design, Editorial and Content, Local Marketing and CRM and make up the biggest function at SalonHome. To be a successful member of this team you must be driven by creativity, have an eye for impactful design and a unique love for data!
				</p>
				<p class="wow fadeInRight" data-wow-delay="0.2s"><b>Positions</b></p>
				<ul class="l-bullets-4 wow fadeInRight" data-wow-delay="0.2s">
					<li><p class="mb0">Graphic Designer –Individual (not UI/UX) <br />Internship</p></li>
					<li><p class="mb0">PR & Content Manager <br />Internship</p></li>

					<li><p class="mb0">Affiliation & Strategic Partnerships <br />Internship</p></li>
					<li><p class="mb0">Search Analyst <br />Internship </p></li>
					<li><p class="mb0">Marketing Lead <br />Internship </p></li>
					<li><p class="mb0">Marketing Communications <br />Internship </p></li>
					<li><p class="mb0">Social Media <br />Internship</p></li>
					<li><p class="mb0">Partner Acquisition Lead - Marketing <br />Internship</p></li>
					<li><p class="mb0">Marketing Technologist (CRM) <br />Internship</p></li>
					<li><p class="mb0">Technical SEO Specialist <br />Internship</p></li>
				</ul>
			</div>
		</div>
		<div class="row wow fadeInRight" data-wow-delay="0.2s">
			<div class="col-sm-12 text-center">
				<a [routerLink]="['/applying-for-position']" class="btn theme_btn size-big brd button-target">Apply</a> </div>
		</div>
	</div>
</section>

<section class="section-info pt30 pb30" style="background-color: #f7f7f7;">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 mb20">
				<img src="assets/images/icons/icon-startup.png" alt="" class="img-left-paragraph wow fadeIn" data-wow-duration="1300" style="margin-bottom:250px;"/>
				<h3 class="wow fadeInRight" data-wow-delay="0.2s"><b>Technology</b></h3>
				<p class="wow fadeInRight" data-wow-delay="0.2s">
					While SalonHome is a beauty business, technology is at the front of the line. The products and services that our professionals provide in the SalonHome marketplace, along with our Partner programs. Both are available on the web and as native apps for iOS and Android, in 20 cities across the USA. Our technology roles call for techs that are excited about changing our industry. We’re building a huge business and a technology platform to match it.
				</p>
				<p class="wow fadeInRight" data-wow-delay="0.2s"><b>Positions</b></p>
				<ul class="l-bullets-4 wow fadeInRight" data-wow-delay="0.2s">
					<li><p class="mb0">Frontend Software Engineer</p></li>
					<li><p class="mb0">Full Stack Developer </p></li>
					<li><p class="mb0">Quality Assurance Engineer </p></li>
					<li><p class="mb0">Software Engineer</p></li>
				</ul>
			</div>
		</div>
		<div class="row wow fadeInRight" data-wow-delay="0.2s">
			<div class="col-sm-12 text-center">
				<a [routerLink]="['/applying-for-position']" class="btn theme_btn size-big brd button-target">Apply</a>
			</div>
		</div>
	</div>
</section>


<section class="section-info pt30 pb30">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 mb20">
				<img src="assets/images/icons/icon-hr.png" alt="" class="img-left-paragraph wow fadeIn" data-wow-duration="1300" style="margin-bottom: 250px;" />
				<h3 class="wow fadeInRight" data-wow-delay="0.2s"><b>Group Functions </b></h3>
				<p class="wow fadeInRight" data-wow-delay="0.2s">
					Most of the Group Function will be held at or our offices in Atlanta. These comprise Finance, HR, Legal, Office Management, and Fraud and Compliance. They are the serum that holds the other functions and business  together. The enablers of business efficiency and growth. Subject-matter expertise is critical for these teams but equally important is the ability to understand and support multiple cultures, functions, legislation and personalities, which makes working in these teams incredibly colorful and rewarding.
				</p>
				<p class="wow fadeInRight" data-wow-delay="0.2s"><b>Positions</b></p>
				<ul class="l-bullets-4 wow fadeInRight" data-wow-delay="0.2s">
					<li><p class="mb0">HR Lead (20/40 hours week, m/f)</p></li>
					<li><p class="mb0">Accounts Assistant</p></li>
					<li><p class="mb0">Group Strategic Partnerships</p></li>
					<li><p class="mb0">Marketing Lead</p></li>
					<li><p class="mb0">Freelance Interior photographer – All States</p></li>
				</ul>
			</div>
		</div>
		<div class="row wow fadeInRight" data-wow-delay="0.2s">
			<div class="col-sm-12 text-center">
				<a [routerLink]="['/applying-for-position']" class="btn theme_btn size-big brd button-target">Apply</a>
			</div>
		</div>
	</div>
</section>

<section class="section-info pt30 pb30" style="background-color: #f7f7f7;">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 mb20">
				<img src="assets/images/icons/icon-call-atend.png" alt="" class="img-left-paragraph wow fadeIn" data-wow-duration="1300" style="margin-bottom: 250px;"/>
				<h3 class="wow fadeInRight" data-wow-delay="0.2s"><b>Customer Operations</b></h3>
				<p class="wow fadeInRight" data-wow-delay="0.2s">
					The Customer Care Operation is based out of our Atlanta location. Our main purpose is to be the backbone of our customers, whether that’s taking a call to help someone find their way to their next appointment or space, or making sure that the pages on our site I accurate and professionally for our customers. The Customer Operations Team is a critical component of enabling the perfect experience using our platform. We look for people pleasers with bags of ideas, lots of initiative and a passion to serve. People who get a kick out of providing the best possible customer experience, every day will work well in this position.
				</p>
				<p class="wow fadeInRight" data-wow-delay="0.2s"><b>Positions</b></p>
				<ul class="l-bullets-4 wow fadeInRight" data-wow-delay="0.2s">
					<li><p class="mb0">Customer Care Representative </p></li>
					<li><p class="mb0">Content Lead – All States</p></li>
					<li><p class="mb0">Operation Lead– All States</p></li>
				</ul>
			</div>
		</div>
		<div class="row wow fadeInRight" data-wow-delay="0.2s">
			<div class="col-sm-12 text-center">
				<a [routerLink]="['/applying-for-position']" class="btn theme_btn size-big brd button-target">Apply</a>
			</div>
		</div>
	</div>
</section>
</div>