@font-face{font-family:'sofia_probold';src:url('mostardesign_-_sofiapro-bold-webfont.woff2') format('woff2'),
url('mostardesign_-_sofiapro-bold-webfont.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'sofia_pro_regularregular';src:url('mostardesign_-_sofiaproregular-webfont.woff2') format('woff2'),
url('mostardesign_-_sofiaproregular-webfont.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'sofia_proregular_italic';src:url('mostardesign_-_sofiaproregular-italic-webfont.woff2') format('woff2'),
url('mostardesign_-_sofiaproregular-italic-webfont.woff') format('woff');font-weight:normal;font-style:normal;}