<footer class="pt60" >
	<section>
		<div class="hide_responsive container">
			<div class="row columns_men mb20">
				<div class="col-md-3 col-sm-3 col-xs-4">
					<h5 class="mt0"><b>COMPANY</b></h5>
					<p class="mb30 list-col">
						<a [routerLink]="['/about-us']" [routerLinkActive]="['active']" class="option-about-us">About Us</a><br />
						<a [routerLink]="['/magazine']" [routerLinkActive]="['active']" class="option-magazine">Magazine</a><br />
						<a [routerLink]="['/careers']" [routerLinkActive]="['active']" class="option-careers">Careers</a><br />
						<a [routerLink]="['/how-it-works-professionals']" [routerLinkActive]="['active']" class="option-how-it-works-professionals">How it Works</a><br />
						<!-- <a [routerLink]="['/university']" [routerLinkActive]="['active']" class="option-salonhome-university">SalonHome University</a><br /> -->
						<a [routerLink]="['/join-our-team']" [routerLinkActive]="['active']" class="option-join-our-team">Join our Team</a><br />
						<a [routerLink]="['/events']" [routerLinkActive]="['active']" class="option-events">Events</a>
					</p>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-4 p0">
					<h5 class="mt0"><b>SERVICES</b></h5>
					<p class="mb30 list-col">
						<a [routerLink]="['/services-hair']" [routerLinkActive]="['active']" class="option-services-hair">Hair</a><br />
						<a [routerLink]="['/services-barbers']" [routerLinkActive]="['active']" class="option-services-barbers">Barber</a><br />
						<a [routerLink]="['/services-nail']" [routerLinkActive]="['active']" class="option-services-nail">Nail</a><br />
						<a [routerLink]="['/services-makeup']" [routerLinkActive]="['active']" class="option-services-makeup">Makeup</a><br />
						<a [routerLink]="['/services-massage']" [routerLinkActive]="['active']" class="option-services-massage">Massage</a><br />
						<a [routerLink]="['/services-skin']" [routerLinkActive]="['active']" class="option-services-skin">Spa</a><br />
						<a [routerLink]="['/services-available-spaces']" [routerLinkActive]="['active']" class="option-services-available-spaces">Space Rental</a>
					</p>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-4 p0">
					<h5 class="mt0"><b>HELP</b></h5>
					<p class="mb30 list-col">
						<a [routerLink]="['/help']" [routerLinkActive]="['active']" class="option-help" data-du-smooth-scroll data-du-scrollspy>Help</a><br />
						<a [routerLink]="['/contact-us']" [routerLinkActive]="['active']" class="option-contact-us">Contact Us</a><br />
						<a [routerLink]="['/terms-and-conditions']" [routerLinkActive]="['active']" class="option-terms-and-conditions">Terms & Conditions</a><br />
						<a [routerLink]="['/privacy-policy']" [routerLinkActive]="['active']" class="option-privacy-policy">Privacy Policy</a>
					</p>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12 section_apps">
					<div class="middle_footer text-right">
						<a href="https://play.google.com/store/apps/details?id=com.salon.home" target="_blank"><img src="assets/images/gplay-small.jpg" alt="" class="mb10" width="134" height="47" /></a>
						<img src="assets/images/apple-small.jpg" alt="" width="132" height="46" />
					</div>
				</div>
			</div>
		</div>

		<div class="container secondary">
			<div class="row">
				<div class="col-md-3 col-xs-12 text-left l-logo"><a [routerLink]="['/home']" title="" class="logo-effect-res"><img src="assets/images/logo-salon-new.png" alt="Logo Salon Home" width="121" height="54"/></a></div>
				<div class="col-md-6 col-xs-12 text-center l-copy">
					<p>
						<span class="small_2">Copyrights. &copy; {{anio}}. SalonHome All rights reserved.</span><br />
					</p>
				</div>
				<div class="col-md-3 col-xs-12 text-right l-social">
					<ul class="menu-socials">
						<li><a target="_blank" href="https://www.facebook.com/mysalonhome/"><i class="fa fa-facebook"></i></a></li>
						<li><a target="_blank" href="https://twitter.com/salonhome"><i class="fa fa-twitter"></i></a></li>
						<li><a target="_blank" href="https://www.instagram.com/mysalonhome/"><i class="fa fa-instagram"></i></a></li>
						<li><a target="_blank" href="https://www.linkedin.com/company/salonhome-inc."><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</footer>