<div class="wow fadeIn" data-wow-duration="2000" >
<section class="top-section">
	<div class="container">
		<div class="row">
			<div class="title">
				<h2 class="text-center"><b class="theme_color">About Us</b></h2>
				<div class="col-sm-12 col-md-8 col-md-offset-2 text-center mb40">
					<p class="mb0">We’re the world’s leading marketplace for booking beauty services and events.</p>
				</div>
			</div>
		</div>
		<div class="row mb40">
			<div class="col-md-8 col-sm-12 text-justify mb20">
				<p class="mb20">Our mission is to provide a luxury experience whether you are a customer booking an in-home beauty service or a beauty professional booking a space for your next event. As a beauty professional, you will be able to expand, manage, and tend to the needs of your clientele with the tap of a finger. We connect you to the clientele you’ve dreamed of having while making the process of managing your bookings, clients, and business easier than ever before. </p>
				<p class="mb20">We offer a unique opportunity for owners to open their professional spaces up to beauty professionals looking to book a private beauty service or book a Beauty Event. As a Salon Owner, you will have access to professionals actively waiting to book your space upon availability. You will have the opportunity to make more money and gain exposure for your location through SalonHome. </p>
				<p class="text_5"><b>We are proud to bring you a new home for beauty, SalonHome!</b></p>
			</div>
			<div class="col-md-4 col-sm-12">
				<img src="assets/images/about-images.jpg" class="img-responsive img-circle m_auto" alt="">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 mb60 text-center">
				<a [routerLink]="['/try-it-free']" class="btn theme_btn size-big brd">Get Started</a>
			</div>
		</div>
	</div>
</section>

<section class="pt40 pb40">
	<div class="container">
		<div class="row">
			<div class="title">
				<h2 class="text-center"><b class="mb20">A small team, making a big difference.</b></h2>
			</div>
			<div class="col-sm-12 col-md-12 text-center mb40">
				<p class="mb0">We are a small team of entrepreneurs committed to building something that<br /> is going to change the way beauty professionals.</p>
			</div>
		</div>
		<div class="row mb40 text-center layout_staff">
			<div class="col-md-12">
				<div class="col-md-4 col-sm-6 col-xs-6">
					<div class="col-md-12">
					<div class="row mb10"><img src="assets/images/avatars/man-avatar.png" class="img-responsive img-circle m_auto" alt=""/></div>
					<div class="row"><span class="small_4 theme_color">Alex Roberson</span>
					<p class="small_4">Founder & CEO</p>
					</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-6">
					<div class="col-md-12">
					<div class="row mb10"><img src="assets/images/avatars/man-avatar.png" class="img-responsive img-circle m_auto" alt=""/></div>
					<div class="row"><span class="small_4 theme_color">Brian Bober</span>
					<p class="small_4">Co-Founder & CTO</p>
					</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-6">
					<div class="col-md-12">
					<div class="row mb10"><img src="assets/images/avatars/woman-avatar.png" class="img-responsive img-circle m_auto" alt=""/></div>
					<div class="row"><span class="small_4 theme_color">Imani Simms</span>
					<p class="small_4">Advisor</p>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="pt30 pb60">
	<div class="container">
		<div class="row">
			<div class="title">
				<h2 class="text-center"><b class="theme_color mb40">Why book services with SalonHome?</b></h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-10 col-md-offset-1">
				<ul class="l-bullets-2">
					<li><p class="mb20">Our technicians are licensed professionals licensed by the cosmetology board in the state that they are in.</p></li>
					<li><p class="mb20">Beauty services at home! Enjoy the convenience of multi-tasking in home without compromising on your beauty regiment.</p></li>
					<li><p class="mb20">Your home remains as clean as it was before the services.</p></li>
					<li><p class="mb20">We do not compromise on product quality or brand names.</p></li>
					<li><p class="mb20">Affordable pricing: Prices that make a regular beauty refinement possible every week!</p></li>
					<li><p class="mb20">We offer the widest range of beauty services convenient to you and your location - from hair styling, barbering, makeup, nails, skincare, and the best choices of massages.</p></li>
				</ul>
			</div>
		</div>
	</div>
</section>
</div>