<app-services-nav></app-services-nav>

<div class="wow fadeIn" data-wow-duration="2000" >
	<section class="banner-section available-spaces b-spaces">
	    <div class="no-overlay" style="background-image:url(assets/images/services-rental-salon-home.jpg);background-position: center bottom;height:460px;" role="img" aria-label="Salon Home - Services Available Spaces">
	    	<div class="container">
				<div class="row mt90 banner-container">
		    		<div class="col-md-12 banner-title">
			    		<div class="title top-01">
							<h2 class="text-center mb20 text_12 theme_color">
							<img src="assets/images/icons/o-check.png" class="wow fadeInDown" data-wow-delay="0.2s" />
							<b class="wow fadeInDown" data-wow-delay="0.6s">Available Spaces</b></h2>
						</div>
						<div class="col-sm-12 text-center mb20">
							<p class="text_10 mb0 wow fadeIn" data-wow-duration="1300" data-wow-delay="1.0s"><b>You can book this service with SalonHome</b></p>
							<p class="text_7 wow fadeIn" data-wow-duration="1300" data-wow-delay="1.4s">Join the Beta and find the best professionals in your area.</p>
						</div>
						<div class="row wow fadeIn" data-wow-duration="1300" data-wow-delay="1.8s">
							<div class="col-sm-12 text-center">
								<a id="join-beta-5" href="#try-it-free" class="btn theme_btn size-big brd br0">Get Started</a>
							</div>
						</div>
		    		</div>
		    	</div>
			</div>
	    </div>
	</section>
	<section class="section-mod s-space content-services">
		<div class="container">
			<div class="container-type2">
				<div class="valign_middle row">
					<div class="col-lg-5 col-sm-4 col-xs-12 text-center wow fadeInLeft f-img-post-top" data-wow-duration="1300" data-wow-delay="0.4s">
						<div class="column-inner">
							<img src="assets/images/services-spaces-salon.jpg" class="img img-responsive m_auto img-services-auto" alt=""/>
						</div>
					</div>
					<div class="col-lg-7 col-sm-8 col-xs-12 wow fadeInRight s-text-post-top" data-wow-duration="1300" data-wow-delay="0.4s">
						<div class="column-inner">
							<div class="title wow fadeIn" data-wow-delay="0.2s">
								<h2 class="mb20"><b>Rent A Salon, Spa, or Shared Beauty Space</b></h2>
								<p class="mb50">Find thousands of business owners renting chairs & spaces.</p>
							</div>
							<p class="wow fadeIn" data-wow-delay="0.4s">
								No matter what type of beauty business you own, SalonHome makes it a breeze to rent your space or available chairs to Trusted Professionals in your area.  You’re in control of your availability and who you choose to work with. Earning money as an owner is as easy as setting up your profile and listing your business on the SalonHome Mobile Application.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>