<app-services-nav></app-services-nav>

<div class="wow fadeIn" data-wow-duration="2000" >
	<section class="banner-section b-hair">
	    <div class="no-overlay" style="background-image:url(assets/images/hair-salon-home-services.jpg);background-position: center bottom;height:460px;" role="img" aria-label="Salon Home - Services Hair">
	    	<div class="container">
				<div class="row mt90 banner-container">
		    		<div class="col-md-9 col-md-offset-3 pr0 banner-title">
			    		<div class="title wow fadeInLeftBig" data-wow-delay="0.2s">
							<h2 class="text-center mb20 text_12 theme_color"><b>Hair</b></h2>
						</div>
						<div class="col-sm-12 text-center mb20">
							<p class="text_10 mb0 wow fadeIn" data-wow-duration="1300" data-wow-delay="1.0s"><b>You can book this service with SalonHome</b></p>
							<p class="text_7 wow fadeIn" data-wow-duration="1300" data-wow-delay="1.4s">Join the Beta and find the best professionals in your area.</p>
						</div>
						<div class="row wow fadeIn" data-wow-duration="1300" data-wow-delay="1.8s">
							<div class="col-sm-12 text-center">
								<a id="join-beta-8" [routerLink]="['/try-it-free']" class="btn theme_btn size-big brd br0">Get Started</a>
							</div>
						</div>
		    		</div>
		    	</div>
			</div>
	    </div>
	</section>

	<section class="section-mod s-hair content-services">
		<div class="container">
			<div class="container-type2">
				<div class="valign_middle row">
					<div class="col-lg-5 col-sm-4 col-xs-12 text-center wow fadeInLeft f-img-post-top" data-wow-duration="1300" data-wow-delay="0.4s">
						<div class="column-inner">
							<img src="assets/images/services-hair-salon.jpg" class="img img-responsive m_auto img-services-auto" alt=""/>
						</div>
					</div>
					<div class="col-lg-7 col-sm-8 col-xs-12 wow fadeInRight s-text-post-top" data-wow-duration="1300" data-wow-delay="0.4s">
						<div class="column-inner">
							<p>
								Book any hair services you’d like with a professional<br /> of your choice. Invite a professional into your home<br /> for your appointment or a stylist can service you at<br /> their Salon.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>