<div class="dl-container">
	<div class="dl-section">
			<img class="dl-avatar" src="assets/images/download/download-avatar.png">

			<div class="dl-page__title ng-binding">Be Beautiful Anywhere, Anytime</div>

			<div class="dl-page__description"><span class="dl-page__description-text">Professionals:
		List Services, Unused Space &amp; Events
		Clients:
		Book Services 24/7</span>
			</div>

			<!--
			<div ng-show="false">
				<a class="dl-store-link" href="https://apps.apple.com/us/app/[changethis]">
					<img class="dl-store-link__image" src="assets/images/download/download-apple-en.png" alt="">
				</a>
			</div>
			-->

			<div>
				<a class="dl-store-link" href="https://play.google.com/store/apps/details?id=com.salon.home">
					<img class="dl-store-link__image" src="assets/images/download/download-google-en.png" alt="">
				</a>
			</div>

			<div ng-show="view.code.website" class="dl-page__website-container">
				<a class="dl-page__website ng-binding" href="http://www.salonhome.com" target="_blank" ng-style="{color: getTextColor2()}" style="color: rgb(255, 255, 255);">
					www.salonhome.com
				</a>
			</div>

		</div>
	</div>