.p0{padding:0;}
.pb0{padding-bottom:0px;}
.pl0{padding-left:0;}
.pr0{padding-right:0;}
.pl20{padding-left:20px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px !important;}
.pl40{padding-left:40px;}
.pt40{padding-top:40px;}
.pb40{padding-bottom:40px;}
.pb50{padding-bottom:50px;}
.pb60{padding-bottom:60px;}
.pb70{padding-bottom:70px;}
.p60{padding:60px 0;}
.pt0{padding-top:0px;}
.pt60{padding-top:60px;}
.pt20{padding-top:20px !important;}
.pb40{padding-bottom:40px;}
.p40{padding:40px;}
.ptb-60{padding-top:60px;padding-bottom:60px;}
.br0{border-color:transparent;}
.pu80{padding-left:80px;padding-right:80px;}
.m0{margin:auto;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml40{margin-left:40px;}
.ml50{margin-left:50px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr25{margin-right:25px;}
.mt0{margin-top:0;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}
.mt50{margin-top:50px;}
.mt60{margin-top:60px;}
.mt70{margin-top:70px;}
.mt80{margin-top:80px;}
.mt90{margin-top:90px;}
.mtb20{margin-top:20px;margin-bottom:20px;}
.mt120{margin-top:120px;}
.mt150{margin-top:150px;}
.mtb-40{margin-top:40px;margin-bottom:40px;}
.mb0{margin-bottom:0px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mb25{margin-bottom:25px;}
.mb30{margin-bottom:30px;}
.mb35{margin-bottom:35px;}
.mb40{margin-bottom:40px;}
.mb50{margin-bottom:50px;}
.mb60{margin-bottom:60px;}
.mb70{margin-bottom:70px;}
.mb80{margin-bottom:80px;}
.mb90{margin-bottom:90px;}
.mb260{margin-bottom:260px;}
.pt30{padding-top:30px;}
.pb30{padding-bottom:30px;}
.pt50{padding-top:50px;}
.pt60{padding-top:60px;}
.mt20{margin-top:20px !important;}
.pt10{padding-top:10px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}