<div class="wow fadeIn" data-wow-duration="2000" >
	<section class="top-section">
		<div class="container">
			<div class="row">
				<div class="title">
					<h2 class="text-center" style="font-size:200px;"><b class="theme_color">404</b></h2>
					<div class="col-sm-12 col-md-8 col-md-offset-2 text-center mb40">
						<p class="mb0"><b>THIS PAGE YOU REQUESTED COULD NOT BE FOUND!</b></p>
					</div>
				</div>

				<div class="col-sm-12 col-md-8 col-md-offset-2 text-center mb40"><hr class="hr_styles" /></div>
			</div>
		</div>
	</section>
</div>