<div class="wow" >
	<div class="top-section magazine-page">
		<div class="container">

			<section class="row">
				<div class="col-md-12">
					<div class="title mb60 wow">
						<h2 class="text-center"><b class="theme_color">MAGAZINE</b></h2>
					</div>
				</div>
			</section>
			<div class="row">
				<div *ngFor="let post of magazine_posts">	
						<div class="col-sm-6">
							<ul id="rig">
									<article id="post-{{post.id}}">
									<li>
										<a class="rig-cell" [routerLink]="['/magazine', post.slug]">
											<div><img class="rig-img" src="{{post.better_featured_image.source_url}}" alt="{{post.title.rendered}}"/></div>																						
										</a>
										<a [routerLink]="['/magazine', post.slug]">
											<div class="rig-title-post">
												<p class="text-date-post"><i class="fa fa-clock-o" aria-hidden="true"></i> {{post.date_gmt | date: 'longDate'}}</p>
												<span class="rig-text">{{post.title.rendered}}</span>
											</div>
										</a>
									</li>
								</article>
								</ul>	
							</div>	
					<span *ngIf="!magazine_posts">Loading list...</span>
						</div>
		</div>
	</div>
</div>