<div class="wow fadeIn" data-wow-duration="2000" >

	<section class="c_relative">
	    <div class="container">
	        <div class="row">
	            <div class="col-xs-12 col-sm-6 col-sm-offset-6 mb40 paragraphs_layout p95">
		                
		            <div class="col-xs-12 pl20 pr20">

		            	<div class="top-section col-sm-12">
							<div class="title text-center">
								<h2><span><b class="theme_color">Join our Community!</b></span></h2>
							</div>
						</div>

						<div class="layout-form mb20 text-center">
							<form id="form-try" [formGroup]="form" class="formflow">
								<div class="form-group">
			        				<div class="col-sm-12">
					        			<p class="mb20">
We're looking for community members to provide feedback, get fixes and new features early. Get the latest updates by email. Talk with us about your experience. Get some rewards!

</p>

					        			<p class="mb20">
										This program will still be in place after the initial release, for a limited time.
										</p>
			        				</div>
			        			</div>
			        			<div class="form-group">
			        				<div class="col-sm-12">
			        					<p class="mb0">Select your type of account:</p>
			        				</div>
			        			</div>
			        			<div class="form-group">
			        				<div class="col-sm-12">
			        					<div class="radio-group">
			        						<div class="col-md-5 p0">
												<input type="radio" id="field_rd_clients" name="type_account" value="Client" class="action_typeaccount" [ngModel]="type_account_value" (change)="onSelectionChange($event)" [ngModelOptions]="{standalone: true}"/>
												<label for="field_rd_clients" class="cleft">Customer</label>
											</div>
											<div class="col-md-2 p0 medium-space">
												<p class="medium mb0">OR</p>
											</div>
											<div class="col-md-5 p0">
												<input type="radio" id="field_rd_professional" name="type_account" value="Professional" class="action_typeaccount" [ngModel]="type_account_value" (change)="onSelectionChange($event)" [ngModelOptions]="{standalone: true}" />
												<label for="field_rd_professional" class="cright">Professional</label>
											</div>
										</div>
			        				</div>
			        			</div>

			        			<input type="hidden" name="type_account_value" id="type_account_value">

			        			<div class="form-group display_control_professional" style="display: none;">
			        				<div class="col-sm-12">
				        				<label for="field_type" class="select_style">
				        					<span class="form-control mob_control set">Type of services</span>
				        					<select id="type_services" formControlName="type_services" class="form-control mob_control action_change_select" >
					        					<option value="">Type of services</option>
					        					<option value="Hair Stylist">Hair</option>
					        					<option value="Barbers">Barber</option>
					        					<option value="Massage Therapist">Massage</option>
					        					<option value="Spa Services">Spa</option>
					        				</select>
				        				</label>
			        				</div>
			        			</div>

			        			<div class="form-group has-feedback" [ngClass]="displayFieldCss('first_name')">
			        				<div class="col-sm-12">
			        					<input  id="first_name" formControlName="first_name" type="text" placeholder="First Name" class="form-control mob_control" required/>
			        					<app-field-error-display 
			        						[displayError]="isFieldValid('first_name')" 
			        						errorMsg="Please enter your first name">
			        					</app-field-error-display>
			        				</div>
			        			</div>

			        			<div class="form-group has-feedback" [ngClass]="displayFieldCss('last_name')">
			        				<div class="col-sm-12">
			        					<input id="last_name" formControlName="last_name" type="text" placeholder="Last Name" class="form-control mob_control" required/>
			        					<app-field-error-display 
			        						[displayError]="isFieldValid('last_name')" 
			        						errorMsg="Please enter your last name">
			        					</app-field-error-display>
			        				</div>
			        			</div>

			        			<div class="form-group has-feedback" [ngClass]="displayFieldCss('email')">
			        				<div class="col-sm-12">
			        					<input id="email" formControlName="email" type="text" placeholder="Email" class="form-control mob_control" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required/>
			        					<app-field-error-display 
			        						[displayError]="isFieldValid('email')" 
			        						errorMsgHtml="Please select a valid email.<br />Please select your email">
			        					</app-field-error-display>
			        				</div>
			        			</div>

			        			<div class="col-md-12">
			        				<div class="form-group has-feedback" [ngClass]="displayFieldCss('city')" >
				        				<label for="field_city" class="select_style">
				        					<span class="form-control mob_control set alignleft">Select your city</span>
					        				<select formControlName="city" id="city" class="form-control mob_control action_change_select" >
					        					<option value="">Select your City</option>
		        								<option value="Atlanta">Atlanta</option>
												<option value="Baltimore">Baltimore</option>
												<option value="Birmingham">Birmingham</option>
												<option value="Boston">Boston</option>
												<option value="Charlotte">Charlotte</option>
												<option value="Chicago">Chicago</option>
												<option value="Cincinnati">Cincinnati</option>
												<option value="Cleveland">Cleveland</option>
												<option value="Dallas">Dallas</option>
												<option value="Denver">Denver</option>
												<option value="Detroit">Detroit</option>
												<option value="Greenville">Greenville</option>
												<option value="Houston">Houston</option>
												<option value="Indianapolis">Indianapolis</option>
												<option value="Jacksonville">Jacksonville</option>
												<option value="Kansas City">Kansas City</option>
												<option value="Las Vegas">Las Vegas</option>
												<option value="Los Angeles">Los Angeles</option>
												<option value="Memphis">Memphis</option>
												<option value="Miami">Miami</option>
												<option value="Milwaukee">Milwaukee</option>
												<option value="Minneapolis">Minneapolis</option>
												<option value="Myrtle Beach">Myrtle Beach</option>
												<option value="Nashville">Nashville</option>
												<option value="New Jersey">New Jersey</option>
												<option value="New Orleans">New Orleans</option>
												<option value="New York City">New York City</option>
												<option value="Orlando">Orlando</option>
												<option value="Philadelphia">Philadelphia</option>
												<option value="Phoenix">Phoenix</option>
												<option value="Pittsburgh">Pittsburgh</option>
												<option value="Portland">Portland</option>
												<option value="Raleigh">Raleigh</option>
												<option value="Richmond">Richmond</option>
												<option value="Sacramento">Sacramento</option>
												<option value="Salt Lake City">Salt Lake City</option>
												<option value="San Antonio">San Antonio</option>
												<option value="San Diego">San Diego</option>
												<option value="San Francisco">San Francisco</option>
												<option value="Seattle">Seattle</option>
												<option value="St. Louis">St. Louis</option>
												<option value="Tampa">Tampa</option>
												<option value="Virginia Beach">Virginia Beach</option>
												<option value="Washington Dc">District of Columbia</option>
					        				</select>
				        				</label>
				        				<app-field-error-display 
			        						[displayError]="isFieldValid('city')" 
			        						errorMsg="Please select your city">
			        					</app-field-error-display>
			        				</div>
			        			</div>

				        		<div class="form-group" style="clear: both;">
				        			<p class="text_3">
By tapping Submit, you agree to our terms of use. You also agree to receive emails 
periodically informing you about our official launch.
				        			</p>
			        			</div>

			        			<div class="form-group">
			        				<div class="col-sm-12">
			        					<input type="hidden" name="send_submit_try" id="send_submit_try" value="1"/>
			        					<button (click)="onSubmit()" id="submit_register" class="btn theme_btn tinitial size-big-2 pu80 btn-submit"><b><i class="fa fa-paper-plane"></i> Submit</b></button>
			        				</div>
			        			</div>

			        			<div class="set-response"></div>
				    		</form>
						</div>
					</div>

	            </div>
	        </div>
	    </div>
	    <div id="content-photo-beta-pro" class="col-xs-12 col-sm-6 col-sm-offset-0 feature-callout-image-pull feature-callout-cover wow fadeInLeft hide_responsive"   style="background-position: center top;" role="img" aria-label=""></div>
	</section>
</div>