<div class="wow fadeIn" data-wow-duration="2000" >
	<section class="section-mod pb0 bg-gray-3">
		<div class="container">
			<div class="row layout_clients_banner">
				<div class="col-md-6 col-sm-6 text-center">
					<img src="assets/images/app-capture-professionals1-new.png" class="img-1 img img-responsive wow zoomInLeft" data-wow-delay="0.2s" alt="" />
					<img src="assets/images/app-capture-zoom-professionals1.png" class="img-2 img img-responsive wow zoomInLeft" data-wow-delay="0.8s" alt="" />
				</div>
				<div class="col-md-6 col-sm-6 mt80">
					<div class="title">
						<h2 class="text-center wow fadeIn" data-wow-duration="1300" data-wow-delay="1.2s"><b class="theme_color">Book Your Perfect Beauty Match</b></h2>
						<div class="col-sm-12 col-md-12 text-center mb40 p0 wow fadeIn" data-wow-duration="1300" data-wow-delay="1.6s">
							<p class="mb0">Trusted Beauty Professionals, when and where you need them</p>
						</div>
					</div>
					<div class="row wow fadeIn" data-wow-duration="1300" data-wow-delay="2.0s">
						<div class="col-sm-12 text-center">
							<a [routerLink]="['/try-it-free']" class="btn theme_btn size-big brd">Get Started</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section-mod">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="title mb50 wow fadeInUp" data-wow-delay="0.2s">
						<h2 class="text-center theme_color"><b>Beauty Specialist! Home Delivered!</b></h2>
					</div>
				</div>
				<div class="col-sm-12 col-md-10 col-md-offset-1 text-center mb40 wow fadeInUp" data-wow-delay="0.4s">
					<p>
					Let SalonHome bring you beauty without boundaries by connecting you to the Top Professionals in your next beauty appointment. SalonHome brings the stylist to you and we also give you the choice to come to a stylist for your next appointment. We offer more than just hair and nail services, we also offer esthetician services, massage services, and more! Download our app now on the Apple Store App or the Android Marketplace!
					</p>
				</div>
				<div class="row text-center list-blocks">
					<div class="col-md-4 col-sm-4 col-xs-12 single-block wow fadeInLeft" data-wow-delay="0.6s">
						<img class="img img-responsive m_auto" src="assets/images/icons/icon-agent.jpg" alt="" />
						<div class="team-desc">
							<h4 class="mt10 mb10">Sign-up</h4>
						</div>
						<p>
							Create an account with a<br /> few easy steps.
						</p>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 single-block wow fadeInLeft" data-wow-delay="0.8s">
						<img class="img img-responsive m_auto" src="assets/images/icons/icon-finder.jpg" alt="" />
						<div class="team-desc">
							<h4 class="mt10 mb10">Search</h4>
						</div>
						<p>
							Enjoy access to thousands of trusted beauty professionals from what, nails, skincare and so much more.
						</p>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 single-block wow fadeInLeft" data-wow-delay="1.0s">
						<img class="img img-responsive m_auto" src="assets/images/icons/icon-invoice.jpg" alt="" />
						<div class="team-desc">
							<h4 class="mt10 mb10">Book</h4>
						</div>
						<p>
							Your booking, Your way. We make it easy for you to book the professional of your choice at the time that's right for you.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="mb60">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s">
					<img src="assets/images/app-how-it-works-clients-app-image12-new.png" alt="" class="img img-responsive m_autoimg-services-auto" />
				</div>
				<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.4s">
					<img src="assets/images/app-how-it-works-clients-app-image1b-new.png" alt="" class="img img-responsive m_auto img-services-auto" />
				</div>
				<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
					<img src="assets/images/app-how-it-works-clients-app-boo-new.png" alt="" class="img img-responsive m_auto img-services-auto" />
				</div>
			</div>
		</div>
	</section>

	<section class="mb60">
		<div class="container">
			<div class="row">
	            <div class="col-md-10 col-md-offset-1 features_layout type2">
					<div class="clearfix"></div>
	            	<div class="mb60 wow fadeInUp" data-wow-delay="0.2s">
		            	<img class="ico" src="assets/images/icons/icon-reserve.jpg" alt=""/>
		        		<h5 class="theme_color_al">Find & Book Your High-Quality Beauty Professional</h5>
		        		<p>Search for quality beauty professionals from hair, nail, makeup, massage, skincare, and much more–in your city. Message them, read reviews, and find the perfect one for you.</p>
	        		</div>
	        		<div class="mb60 wow fadeInUp" data-wow-delay="0.4s">
		            	<img class="ico" src="assets/images/icons/icon-clock.jpg" alt=""/>
		        		<h5 class="theme_color_al">At A Time That’s Right For You</h5>
		        		<p>Book your trusted professional outside of the normal business hours at a time that’s right for you and your lifestyle.</p>
	        		</div>
	        		<div class="mb40 wow fadeInUp" data-wow-delay="0.6s">
		            	<img class="ico" src="assets/images/icons/i-pmarker.png" alt=""/>
		        		<h5 class="theme_color_al">Right To Your Door</h5>
		        		<p>You and your beauty professional can pick the perfect place for your services like salon, home or office–it’s all up to you.</p>
	        		</div>
	            </div>
			</div>
		</div>
	</section>

	<section class="section-mod bg-gray-2 ng-scope pt40 pb50">
		<div class="container">
			<div class="row">
				<div class="title text-center mb30 wow fadeInUp" data-wow-delay="0.2s">
					<h4><b class="c_white">Our salon partners</b></h4>
				</div>
				<div class="col-sm-12 text-center layout_inline mb30 layout_logos_foot wow fadeInUp" data-wow-delay="0.4s">
					<div class="col-sm-6 col-xs-10 block-img"><div class="item"><img src="assets/images/partners/logo-aveda.png" alt="" class="img img-responsive"/></div></div>
					<div class="col-sm-6 col-xs-12 block-img"><div class="item"><img src="assets/images/partners/john-paul-m-systems.png" alt="" class="img img-responsive"/></div></div>
				</div>
				<div class="col-sm-12 text-center layout_inline layout_logos_foot wow fadeInUp" data-wow-delay="0.4s">
					<div class="col-sm-6 col-xs-8 block-img"><div class="item"><img src="assets/images/partners/sustancity.png" alt="" class="img img-responsive"/></div></div>
					<div class="col-sm-6 col-xs-7 block-img" style="margin-top: 15px;"><div class="item"><img src="assets/images/partners/massage-envy.png" alt="" class="img img-responsive"/></div></div>
				</div>
			</div>
		</div>
	</section>
</div>