<div class="wow fadeIn" data-wow-duration="2000" >
	<section class="top-section-2">
	    <div class="no-overlay" style="background-image:url(assets/images/how-it-works-salon-home-1.jpg);background-position: center bottom;height: 525px;" role="img" aria-label="Salon Home - How it works Professionals">
	    </div>
	</section>

	<section class="section-mod">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="title mb50 wow fadeInUp" data-wow-delay="0.2s">
						<h2 class="text-center"><b class="theme_color">Discover the true potential of your business</b></h2>
					</div>
					<div class="col-sm-12 col-md-10 col-md-offset-1 text-center wow fadeInUp" data-wow-delay="0.4s">
						<p>
						We’re the world’s leading marketplace for booking beauty services and events. Our mission is to provide a luxury experience whether you are a customer booking an in-home beauty service or a beauty professional booking a space for your next event. As a beauty professional, you will be able to expand, manage, and tend to the needs of your clientele with the tap of a finger. We connect you to the clientele you’ve dreamed of having while making the process of managing your bookings, clients, and business easier than ever before. 
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section-mod bg-primary pt40">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-12">
					<img class="img img-responsive m_auto mb40 wow fadeInUp" data-wow-delay="0.2s" src="assets/images/salon-home-icon.png" alt="" />
					<div class="title text-center">
						<p class="c_white wow fadeInUp" data-wow-delay="0.4s">
							<span class="big-letter"><b>We offer a unique opportunity</b></span> for owners to open their professional spaces up to<br /> beauty professionals looking to book a private beauty service or book a Beauty Event.
						</p>
						<p class="c_white wow fadeInUp" data-wow-delay="0.6s">
							As a Salon Owner, you will have access to professionals <br />
							actively waiting to book your space upon availability. 
						</p>
						<p class="c_white mb0 wow fadeInUp" data-wow-delay="0.8s">
							You will have the opportunity to make more money and gain exposure<br />
							for your location through SalonHome. 
						</p>

					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section-mod pb10 pb0">
		<div class="container">
			<div class="row">
				<div class="title mb50 wow fadeInUp" data-wow-delay="0.2s">
					<h2 class="text-center theme_color"><b>For Professionals</b></h2>
				</div>
				<div class="row text-center list-blocks">
					<div class="col-md-4 col-sm-4 col-xs-12 single-block wow fadeInUp" data-wow-delay="0.4s">
						<img class="img img-responsive m_auto" src="assets/images/icons/icon-focus.jpg" alt="" />
						<div class="team-desc">
							<h4 class="mt10 mb10">Create</h4>
						</div>
						<p>
							SalonHome allows you to create <br />the beauty business you’ve always <br />dreamed of starting. 
						</p>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 single-block wow fadeInUp" data-wow-delay="0.6s">
						<img class="img img-responsive m_auto" src="assets/images/icons/icon-manager.jpg" alt="" />
						<div class="team-desc">
							<h4 class="mt10 mb10">Manage</h4>
						</div>
						<p>
							Use SalonHome to manage your <br />bookings, clients, and services.
						</p>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 single-block wow fadeInUp" data-wow-delay="0.8s">
						<img class="img img-responsive m_auto" src="assets/images/icons/icon-grow.jpg" alt="" />
						<div class="team-desc">
							<h4 class="mt10 mb10">Grow</h4>
						</div>
						<p>
							Expand your clientele, host beauty <br />events, and enhance your customer <br />experience. 
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section-mod pb0">
		<div class="container">
			<div class="row text-center">
				<div class="title text-center mb50 wow fadeInUp" data-wow-delay="0.2s">
					<h3><b>How do I become a partner?</b></h3>
				</div>
				<div class="col-sm-12 layout_features_2">
					<div class="row mb20 wow fadeInUp" data-wow-delay="0.4s">
						<div class="col-md-6 col-sm-6 text-right">
							<div class="block-img">
								<img class="img img-responsive m_auto" src="assets/images/app-img-1.jpg" alt="" />
							</div>
						</div>
						<div class="col-md-6 col-sm-6 text-left">
							<div class="block-text mt30">
								<span class="circle-span bg-secondary">Step 1</span>
								<p>Set up your profile, add your menu and prices</p>
							</div>
						</div>
					</div>
					<div class="row mb20 wow fadeInUp" data-wow-delay="0.6s">
						<div class="col-md-6 col-sm-6 text-right">
							<div class="block-img">
								<img class="img img-responsive m_auto" src="assets/images/app-img-2.jpg" alt="" />
							</div>
						</div>
						<div class="col-md-6 col-sm-6 text-left">
							<div class="block-text mt30">
								<span class="circle-span bg-primary">Step 2</span>
								<p>Keep your calendar up to date so we can advertise your empty slots</p>
							</div>
						</div>
					</div>
					<div class="row mb20 wow fadeInUp" data-wow-delay="0.8s">
						<div class="col-md-6 col-sm-6 text-right">
							<div class="block-img">
								<img class="img img-responsive m_auto" src="assets/images/app-img-3.jpg" alt="" />
							</div>
						</div>
						<div class="col-md-6 col-sm-6 text-left">
							<div class="block-text mt30">
								<span class="circle-span bg-gray">Step 3</span>
								<p>Reach new customers and grow your revenue</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row wow fadeIn" data-wow-duration="1300" data-wow-delay="1.4s">
					<div class="col-sm-12 text-center">
						<a [routerLink]="['/try-it-free']" class="btn theme_btn size-big brd">Get Started</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section-mod">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 layout_features_3 mb40 wow fadeInLeft" data-wow-delay="0.2s">
					<div class="image text-center"><img src="assets/images/tour_feature_reports.jpg" alt="" class="img img-responsive"/></div>
					<div class="description">
						<h4 class="theme_color">Reports</h4>
						<p>Track sales and revenue, attendance, retention levels and much more. Figure out the trends and use what you learn to adjust your business plan.</p>
					</div>
				</div>
				<div class="col-sm-6 layout_features_3 mb40 wow fadeInRight" data-wow-delay="0.2s">
					<div class="image text-center"><img src="assets/images/tour_feature_listing.jpg" alt="" class="img img-responsive"/></div>
					<div class="description">
						<h4 class="theme_color">Listings</h4>
						<p>Finish your daily tasks quicker, from sending client reminders and confirmations to monitoring clients’ account status to calculating sales tax.</p>
					</div>
				</div>
				<div class="col-sm-6 layout_features_3 mb40 wow fadeInLeft" data-wow-delay="0.4s">
					<div class="image text-center"><img src="assets/images/tour_feature_booking.jpg" alt="" class="img img-responsive"/></div>
					<div class="description">
						<h4 class="theme_color">Online Booking</h4>
						<p>Give clients the freedom to view your schedule, book their next class online, and even pay before they arrive.</p>
					</div>
				</div>
				<div class="col-sm-6 layout_features_3 mb40 wow fadeInLeft" data-wow-delay="0.4s">
					<div class="image text-center"><img src="assets/images/tour_feature_rent.jpg" alt="" class="img img-responsive"/></div>
					<div class="description">
						<h4 class="theme_color">Rent a space</h4>
						<p>Attract new customers by getting exposure in front of the right people—and then track your results.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section-mod bg-gray-2 ng-scope pt40 pb50">
		<div class="container">
			<div class="row">
				<div class="title text-center mb30 wow fadeInUp" data-wow-delay="0.2s">
					<h4><b class="c_white">Our salon partners</b></h4>
				</div>
				<div class="col-sm-12 text-center layout_inline mb30 layout_logos_foot wow fadeInUp" data-wow-delay="0.4s">
					<div class="col-sm-6 col-xs-10 block-img"><div class="item"><img src="assets/images/partners/logo-aveda.png" alt="" class="img img-responsive"/></div></div>
					<div class="col-sm-6 col-xs-12 block-img"><div class="item"><img src="assets/images/partners/john-paul-m-systems.png" alt="" class="img img-responsive"/></div></div>
				</div>
				<div class="col-sm-12 text-center layout_inline layout_logos_foot wow fadeInUp" data-wow-delay="0.6s">
					<div class="col-sm-6 col-xs-8 block-img"><div class="item"><img src="assets/images/partners/sustancity.png" alt="" class="img img-responsive"/></div></div>
					<div class="col-sm-6 col-xs-7 block-img" style="margin-top: 15px;"><div class="item"><img src="assets/images/partners/massage-envy.png" alt="" class="img img-responsive"/></div></div>
				</div>
			</div>
		</div>
	</section>

	<section class="bg-opaque c_relative">
	    <div class="container">
	        <div class="row">
	            <div class="col-xs-12 col-sm-6 col-sm-offset-6 mb40 paragraphs_layout p95">
	                <div class="title mb0 col-md-medium">
						<div class="text-center wow fadeInUp" data-wow-delay="0.2s"><h2><b class="mb60"><span class="middle">Professionals </span><img src="assets/images/icons/icon-heart.png" alt="Heart"/><span class="middle"> Us</span></b></h2></div>
						<p class="mb20 text-justify wow fadeInUp" data-wow-delay="0.4s">
						All in one! This is literally the best app ever created! Talk about breakthrough for the Beauty  industry. With so many apps out there, SalonHome stands alone...Puts the professionalism back in our hands: networking beauty owners to beauty professionals, connecting and interacting with our clients on a whole new level with a plethora of services. 
						</p>
						<p class="mb20 text-justify wow fadeInUp" data-wow-delay="0.6s">
						Everything you need is right here on the SalonHome Mobile App!
						</p>
						<p class="mb0 wow fadeInUp" data-wow-delay="0.8s">
							<span class="big-letter"><b>Imani <span class="theme_color">Simms</span></b></span>
						</p>
					</div>
	            </div>
	        </div>
	    </div>
	    <div class="col-xs-12 col-sm-6 col-sm-offset-0 feature-callout-image-pull feature-callout-cover wow fadeInLeft"  style="background-image:url(assets/images/how-it-works-salon.jpg); background-position: center top;" role="img" aria-label=""></div>
	</section>

	<section class="section-mod c_relative">
	    <div class="container">
	        <div class="row">
	            <div class="title mb0 col-md-medium wow fadeInUp" data-wow-delay="0.2s">
					<div class="text-center"><h2><b class="mb60">Get in touch</b></h2></div>
				</div>
	        </div>
	        <div class="row">
	        	<form id="form-professionals" [formGroup]="form">
		        	<div class="col-sm-6">
		        		<div class="row m0 wow fadeInUp" data-wow-delay="0.4s"><b class="mb35 text_5 blc">About the business</b></div>
		        		<div class="row layout-form mb20">
		        			<div class="form-group has-feedback" [ngClass]="displayFieldCss('business')">
		        				<div class="col-sm-12 wow fadeInUp" data-wow-delay="0.6s">
		        					<input type="text" formControlName="business" id="business" placeholder="Business name" class="form-control mob_control" />
		        					<app-field-error-display 
			        						[displayError]="isFieldValid('business')" 
			        						errorMsg="Please inform your Business">
			        					</app-field-error-display>
		        				</div>
		        			</div>
		        			<div class="form-group has-feedback" [ngClass]="displayFieldCss('services')">
		        				<div class="col-sm-12 wow fadeInUp" data-wow-delay="0.7s">
			        				<label for="services" class="select_style">
			        					<span class="form-control mob_control set">Type of services</span>
				        				<select id="services" formControlName="services" class="form-control mob_control action_change_select" >
				        					<option value="">Type of services</option>
				        					<option value="Hair Stylist">Hair</option>
				        					<option value="Barbers">Barber</option>
				        					<option value="Massage Therapist">Massage</option>
				        					<option value="Spa Services">Spa</option>
				        				</select>

				        				<app-field-error-display 
			        						[displayError]="isFieldValid('services')" 
			        						errorMsg="Please inform your Type Services">
			        					</app-field-error-display>

			        				</label>
		        				</div>
		        			</div>
		        			<div class="form-group has-feedback" [ngClass]="displayFieldCss('street')">
		        				<div class="col-sm-12 wow fadeInUp" data-wow-delay="0.8s">
		        					<input type="text" formControlName="street" id="street" placeholder="Street" class="form-control mob_control" />
		        					<app-field-error-display 
		        						[displayError]="isFieldValid('street')" 
		        						errorMsg="Please inform your Street">
		        					</app-field-error-display>
		        				</div>
		        			</div>
		        			<div class="form-group has-feedback">
		        				<div class="col-sm-6 form-group has-feedback wow fadeInUp" data-wow-delay="0.9s" [ngClass]="displayFieldCss('code')">
		        					<input type="text" formControlName="code" id="code" placeholder="Post code" class="numeric form-control mob_control" />	
		        					<app-field-error-display 
		        						[displayError]="isFieldValid('code')" 
		        						errorMsg="Please inform your Zip Code">
		        					</app-field-error-display>
		        				</div>
		        				<div class="col-sm-6 form-group has-feedback wow fadeInUp" data-wow-delay="1.0s" [ngClass]="displayFieldCss('city')">
		        					<input type="text" formControlName="city" id="city" placeholder="City" class="form-control mob_control" />	
		        					<app-field-error-display 
		        						[displayError]="isFieldValid('city')" 
		        						errorMsg="Please inform your City">
		        					</app-field-error-display>
		        				</div>
		        			</div>
		        		</div>
		        	</div>
		        	<div class="col-sm-6">
		        		<div class="row m0"><b class="mb35 text_5 blc wow fadeInUp" data-wow-delay="1.1s">About you</b></div>
		        		<div class="row layout-form mb20">
		        			<div class="form-group has-feedback" [ngClass]="displayFieldCss('firstname')">
		        				<div class="col-sm-12 wow fadeInUp" data-wow-delay="1.2s">
		        					<input type="text" formControlName="firstname" id="firstname" placeholder="First Name" class="form-control mob_control" />
		        					<app-field-error-display 
		        						[displayError]="isFieldValid('firstname')" 
		        						errorMsg="Please inform your First Name">
		        					</app-field-error-display>
		        				</div>
		        			</div>
		        			<div class="form-group has-feedback" [ngClass]="displayFieldCss('lastname')">
		        				<div class="col-sm-12 wow fadeInUp" data-wow-delay="1.3s">
		        					<input type="text" formControlName="lastname" id="lastname" placeholder="Last Name" class="form-control mob_control" />
		        					<app-field-error-display 
		        						[displayError]="isFieldValid('lastname')" 
		        						errorMsg="Please inform your Last Name">
		        					</app-field-error-display>
		        				</div>
		        			</div>
		        			<div class="form-group has-feedback" [ngClass]="displayFieldCss('email')">
		        				<div class="col-sm-12 wow fadeInUp" data-wow-delay="1.4s">
		        					<input type="text" formControlName="email" id="email" placeholder="Email address" class="form-control mob_control" />
		        					<app-field-error-display 
		        						[displayError]="isFieldValid('email')" 
		        						errorMsg="Please inform your Email. Please inform your a valid email.">
		        					</app-field-error-display>
		        				</div>
		        			</div>
		        			<div class="form-group has-feedback" [ngClass]="displayFieldCss('contactnumber')">
		        				<div class="col-sm-12 wow fadeInUp" data-wow-delay="1.5s">
		        					<input type="text" formControlName="contactnumber" id="contactnumber" placeholder="Contact number" class="numeric form-control mob_control" />
		        					<app-field-error-display 
		        						[displayError]="isFieldValid('contactnumber')" 
		        						errorMsg="Please inform your Phone">
		        					</app-field-error-display>
		        				</div>
		        			</div>
		        		</div>
		        	</div>
		        	<div class="row">
						<div class="col-sm-12 text-center wow fadeInUp" data-wow-delay="1.6s">
							<input type="hidden" name="send_submit_professional" id="send_submit_professional" value="1">
							<button (click)="onSubmit()" id="submit_professionals" class="btn theme_btn tinitial size-big-2 btn-submit"><b>Join our Beta</b></button>
						</div>
					</div>
					<div class="set-response mt30"></div>
		        </form>
	        </div>
	    </div>
	</section>
	
</div>