<section class="top-section">
	<div class="container">
		<div class="style_menu_1 mb50">
			<a [routerLink]="['/services-hair']" [routerLinkActive]="['active']" class="style_button_1" id="s_hair">Hair</a>
			<a [routerLink]="['/services-barbers']" [routerLinkActive]="['active']" class="style_button_1" id="s_barbers">Barber</a>
			<a [routerLink]="['/services-nail']" [routerLinkActive]="['active']" class="style_button_1" id="s_nail">Nail</a>
			<a [routerLink]="['/services-makeup']" [routerLinkActive]="['active']" class="style_button_1" id="s_makeup">Makeup</a>
			<a [routerLink]="['/services-massage']" [routerLinkActive]="['active']" class="style_button_1" id="s_massage">Massage</a>
			<a [routerLink]="['/services-skin']" [routerLinkActive]="['active']" class="style_button_1" id="s_skin">Spa</a>
			<a [routerLink]="['/services-available-spaces']" [routerLinkActive]="['active']" class="style_button_1" id="option_available-spaces">Space Rental</a>
		</div>
	</div>
</section>