<div class="wow fadeIn" data-wow-duration="2000" >
	<section class="top-section-2">
	    <div class="no-overlay" style="background-image:url(assets/images/join-our-team-salon-home.jpg);background-position: center bottom;height: 323px;" role="img" aria-label="Salon Home - Join our team">
	    </div>
	</section>

	<section class="section-mod">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="col-sm-12 col-md-10 col-md-offset-1 text-center wow fadeInUp" data-wow-delay="0.4s">
						<p>
						Being a leader means aiming high and executing better than anyone else. To do this we need more brilliantly-talented SalonHomers who share our mission to shift an industry online.
						</p>
					</div>
				</div>
			</div>

			<div class="row mt30">
				<div class="row text-center list-blocks">
					<div class="col-md-4 col-sm-4 col-xs-12 single-block wow fadeInUp" data-wow-delay="0.4s">
						<img class="img img-responsive m_auto" src="assets/images/we-work-hard.png" alt="" />
						<div class="team-desc">
							<h4 class="mt10 mb10 theme_color">We work hard</h4>
						</div>
						<p>
							Here at SalonHome, our team works hard to keep your business running at its full potential.
						</p>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 single-block wow fadeInUp" data-wow-delay="0.6s">
						<img class="img img-responsive m_auto" src="assets/images/we-are-one.png" alt="" />
						<div class="team-desc">
							<h4 class="mt10 mb10 theme_color">We are One</h4>
						</div>
						<p>
							Our team operates in 50 cities across the USA. That makes us a family of amazing SalonHomers, made up of tons of different nationalities and countless personalities. Diversity is our strength.
						</p>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 single-block wow fadeInUp" data-wow-delay="0.8s">
						<img class="img img-responsive m_auto" src="assets/images/we-are-treatworthy.png" alt="" />
						<div class="team-desc">
							<h4 class="mt10 mb10 theme_color">We are Worthy</h4>
						</div>
						<p>
							Our goal is 'work hard to earn trust'. We offer flexible services 24/7, with regular social events and lots of magical moments - that’s what makes us glow.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section-mod bg-primary pt40 pb60">
		<div class="container">
			<div class="row text-center mb20">
				<div class="col-md-12">
					<div class="title text-center">
						<h2 class="c_white"><b>Our offices in Atlanta</b></h2>
					</div>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-12">
					<div class="title text-center">
						<a [routerLink]="['/careers']" class="c_white outline_White big">View Positions Opened</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section-mod">
		<div class="container">
			<div class="row">
				<div class="title mb50 wow fadeInUp text-center" data-wow-delay="0.2s">
					<h2 class="theme_color"><b>Our values</b></h2>
					<p>Each one of us is empowered to take decisive actions every day. How? By being free to rise to our responsibilities, take ownership and get things done. Our unique culture is guided by a shared set of values. Values that define our actions, our brand and give us that extra-special glow.</p>
				</div>
				<div class="row text-center list-blocks">
					<div class="col-md-4 col-sm-4 col-xs-12 single-block wow fadeInUp" data-wow-delay="0.4s">
						<img class="img img-responsive m_auto" src="assets/images/icons/icon-29.png" alt="" />
						<div class="team-desc">
							<h4 class="mt10 mb10">Be courageous</h4>
						</div>
						<p>
							Pioneer a better way. Yes, you’re in charge, so step up, take ownership and prioritise. Be a smart-risk taker and don’t be afraid to question or do things differently. Make tough decisions and stand up for them. And if you make a mistake? Don’t bury your head in the sand. Own it. Blush a bit. Learn from it.
						</p>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 single-block wow fadeInUp" data-wow-delay="0.6s">
						<img class="img img-responsive m_auto" src="assets/images/icons/icon-30.png" alt="" />
						<div class="team-desc">
							<h4 class="mt10 mb10">Be open</h4>
						</div>
						<p>
							Keep asking 'why?' Transparency is how we cultivate trust. Be straightforward, and honest. Be open and forever curious about new ideas - even if they’re not your own. Listen and be adaptable, opposing views are an opportunity to spark ideas, and we know that great stuff happens in happy, non-judgemental environments.
						</p>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 single-block wow fadeInUp" data-wow-delay="0.8s">
						<img class="img img-responsive m_auto" src="assets/images/icons/icon-31.png" alt="" />
						<div class="team-desc">
							<h4 class="mt10 mb10">Be driven</h4>
						</div>
						<p>
							We're here to win. We have our big idea and that’s what we’re building. Our goal is to craft the hell out of everything we do - constant, meticulous improvements. We view obstacles as challenges to overcome. We don’t bask in our successes, or get too comfortable, because we are never done. So if complacency calls, hang up.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>